<div style={{position:'relative'}}>
  <DonutChart
    data={[
      {x: "Thing", y: 62},
      {x: "Other thing", y: 91},
      {x: "Further thing", y: 55},
      {x: "Not a thing", y: 55},
    ]}>
  </DonutChart>
  <LegendItemAtom className="center" item={{id: 1}}>
    example
  </LegendItemAtom>
</div>